@model Test3.Models.Appointment

@{
    ViewBag.Title = "Patient_Delete";
}

<h2>Patient_Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Appointment</h4>
    <hr />
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
    }
    else
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Doctor_id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Doctor_id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

        </dl>


        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" onclick="return confirm('删除成功');" /> |
                @Html.ActionLink("Back to List", "Patient_Index", new { id = Model.Patient_id })
            </div>
        }
    }
</div>
